body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 400px;
}

.App > section {
  background-color: rgb(223, 223, 223);
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
